<!DOCTYPE html>

<html>
<head>
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

</head>
<body style="background-color:#FFFF99">

    <div style="margin-left:60px">
        @RenderBody()
    </div>

</body>
</html>