
@section Scripts{
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/bootstrap")"></script>
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/game/js")"></script>
}

<h1>Witam i zapraszam do świetnej zabawy!</h1>
<br />
<label>Pionki biale: </label>
<select id="graczBialy">
    <option>Czlowiek</option>
    <option >KomputerH1</option>
    <option>KomputerH2</option>
    <option  selected="selected">KomputerH3</option>
</select>
<label>Pionki czarne: </label>
<select id="graczCzarny">
    <option>Czlowiek</option>
    <option>KomputerH1</option>
    <option>KomputerH2</option>
    <option>KomputerH3</option>
</select>
<br />
<label>Poziom trudności</label>
<select id="poziom">
    <option>5</option>
    <option>6</option>
    <option selected="selected">7</option>
    <option >8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
</select>
<label>Kolejnosc wezlow </label>
<select id="kolejnoscW">
    <option selected="selected">Od przodu</option>
    <option >Od tylu</option>
</select>
<select id="algorytm">
    <option selected="selected">MinMax</option>
    <option>AlphaBeta</option>
</select>
<br />
<button id="start_button">Start</button>
<br />
<br />

<div id="pole_gry" style="display:inline-block">

    <div id="lewy_div" style="display:inline-block; position:relative">
        <img src="..\Resources\Images\lewePoleN.png" alt="plansza" height="200" width="120" id="lewePole" style="z-index:-1">
    </div>
    <div id="plansza_div" style="display:inline-block; position:relative">
        <img src="..\Resources\Images\plansza.png" alt="plansza" height="450" width="450" id="plansza" style="z-index:-1">
    </div>
    <div id="prawy_div" style="display:inline-block; position:relative">
        <img src="..\Resources\Images\prawePoleN.png" alt="plansza" height="200" width="120" id="prawePole" style="z-index:-1">
    </div>
</div>
<br /><br />
<label id="infoLabel" style="color:red">Start!</label>

<br />
<button id="usun">usun</button>

<button id="znajdzRuchyB">ZnajdzRuchyDlaBialych</button>
<button id="znajdzRuchyC">ZnajdzRuchyDlaCzarnych</button>




